
<div class="container">
  <h2>Contact Management</h2>
  <form class="form-horizontal" [formGroup]="contactForm" (submit)="addContact()">

    <div class="form-group">
        <label class="control-label" for="firstName"> First Name</label>
        <input formControlName="firstName" id="firstName" />
    </div>
    
    <div class="form-group">
        <label class="control-label" for="lastName"> Last Name</label>
        <input formControlName="lastName" id="lastName" />
    </div>
    
    <div class="form-group">
        <label class="control-label" for="email">Email ID</label>
        <input formControlName="email" id="email" />
    </div>
  
    <div class="form-group">
        <label class="control-label" for="phoneNo">Contact</label>
        <input formControlName="phoneNo" id="phoneNo" />
    </div>

    <div class="form-group">
        <label class="control-label" for="status">Profile Description</label>
        <select formControlName="status" id="status">
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
    </div>  
  
    <button type="submit" class="btn btn-default" *ngIf="!isEdit"
      [disabled]="!contactForm.valid">Submit</button>

      <button type="button" class="btn btn-default" *ngIf="isEdit"
      [disabled]="!contactForm.valid" (click)="updateContact()">Update</button>
      <button type="button"
       class="btn btn-default" *ngIf="isEdit" (click)="clearForm()">Cancel</button>

  </form>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th class="text-center">First name</th>
          <th class="text-center">Last name</th>
          <th class="text-center">Email ID</th>
          <th class="text-center">Contact</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; let ind = index;">
          <td class="text-center">{{ contact.firstName }}</td>
          <td class="text-center">{{ contact.lastName }}</td>
          <td class="text-center">{{ contact.email }}</td>
          <td class="text-center">{{ contact.phoneNo }}</td>
          <td class="text-center">{{ contact.status }}</td>
          <td class="text-center">
              <span class="glyphicon glyphicon-pencil" (click)="editContact(ind)"></span>
              <span class="glyphicon glyphicon-trash" (click)="deleteContact(ind)"></span>
          </td>                
        </tr>
      </tbody>
      </table>
</div>

    
    